# EPL VAR Analysis
## Part 3 - Analysis of Teams' Stats of VAR Incidents

- Does the big 6 have more decisions in their favour? What about against?
- Which team involved in the most VAR incidents? Which team most FOR, which team most AGAINST

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import re
from collections import Counter
from datetime import datetime as dt

pd.options.display.max_rows = 500

In [5]:
teamstats_df = pd.read_csv('data/EPL_VAR_Team_Stats_20210420.csv')
teamstats_df

,team_name,net_score,overturns_total,overturns_rejected,leading_to_goals_for,leading_to_goals_against,disallowed_goals_for,disallowed_goals_against,net_goal_score,subj_decisions_for,subj_decisions_against,net_subjective_score,penalties_for,penalties_against,year
0,Brighton & Hove Albion,8,12,0,2,0,2,7,7,2,0,2,NaN,NaN,2019-2020
1,Manchester United,7,13,0,1,2,0,7,6,6,2,4,NaN,NaN,2019-2020
2,Crystal Palace,4,12,0,3,0,4,1,2,6,2,4,NaN,NaN,2019-2020
3,Burnley,3,11,0,2,1,3,4,2,4,2,2,NaN,NaN,2019-2020
4,Newcastle,3,3,0,1,0,0,0,1,2,0,2,NaN,NaN,2019-2020
5,Southampton,3,13,0,0,1,0,7,6,1,4,-3,NaN,NaN,2019-2020
6,Liverpool,2,8,0,1,0,3,4,2,1,1,0,NaN,NaN,2019-2020
7,Leicester City,1,15,0,1,1,3,4,1,3,3,0,NaN,NaN,2019-2020
8,Tottenham Hotspur,1,15,0,1,1,4,6,2,3,3,0,NaN,NaN,2019-2020
9,Manchester City,0,16,0,3,2,4,2,-1,4,4,0,NaN,NaN,2019-2020
10,Arsenal,-1,9,0,4,1,2,0,1,1,4,-3,NaN,NaN,2019-2020
11,Everton,-1,7,0,2,1,2,1,0,2,2,0,NaN,NaN,2019-2020
12,AFC Bournemouth,-2,12,0,2,1,5,1,-3,2,4,-2,NaN,NaN,2019-2020
13,Chelsea,-2,12,0,2,2,4,2,-2,4,4,0,NaN,NaN,2019-2020
14,Watford,-2,6,0,1,2,1,1,-1,1,3,-2,NaN,NaN,2019-2020
15,Aston Villa,-3,7,0,0,1,3,1,-3,2,3,-1,NaN,NaN,2019-2020
16,West Ham,-4,16,0,1,5,5,4,-5,2,1,1,NaN,NaN,2019-2020
17,Sheffield United,-5,11,0,0,1,5,2,-4,1,2,-1,NaN,NaN,2019-2020
18,Wolves,-5,9,0,1,1,4,1,-3,2,1,1,NaN,NaN,2019-2020
19,Norwich City,-7,11,0,0,2,2,2,-4,1,5,-4,NaN,NaN,2019-2020
20,Burnley,5,6,0,1,0,0,1,0,3,0,3,1.0,0.0,2020-2021
21,Chelsea,3,8,1,2,0,1,0,1,2,1,1,1.0,0.0,2020-2021
22,Everton,3,6,1,2,0,1,1,2,3,0,3,1.0,0.0,2020-2021
23,Fulham,3,14,1,1,1,2,5,3,5,5,0,2.0,1.0,2020-2021
24,Manchester City,3,7,0,2,0,2,0,0,2,1,1,1.0,0.0,2020-2021
25,Brighton & Hove Albion,2,15,1,2,3,2,3,0,4,4,0,2.0,3.0,2020-2021
26,Aston Villa,1,10,1,0,0,3,3,0,4,3,1,0.0,0.0,2020-2021
27,Crystal Palace,1,10,1,2,1,0,1,0,4,4,0,2.0,1.0,2020-2021
28,Leeds,1,9,0,1,1,2,1,-1,3,2,1,0.0,1.0,2020-2021
29,Leicester City,1,13,0,4,2,2,1,1,3,3,0,3.0,2.0,2020-2021
30,Sheffield United,1,9,0,3,1,0,1,3,2,3,-1,3.0,1.0,2020-2021
31,Newcastle,0,8,0,1,3,0,1,-1,3,3,0,1.0,3.0,2020-2021
32,Southampton,0,12,0,2,1,3,2,0,2,3,-1,2.0,1.0,2020-2021
33,West Ham,0,11,0,2,1,1,3,3,2,2,0,1.0,1.0,2020-2021
34,Tottenham Hotspur,-1,12,1,1,4,2,5,0,3,3,0,1.0,3.0,2020-2021
35,Manchester United,-2,16,1,2,1,3,1,-1,5,3,2,2.0,1.0,2020-2021
36,Wolves,-3,9,0,0,2,2,1,-3,1,3,-2,0.0,1.0,2020-2021
37,Arsenal,-6,10,0,1,1,2,1,-1,2,3,-1,1.0,0.0,2020-2021
38,Liverpool,-6,16,2,0,3,7,2,-8,3,5,-2,0.0,3.0,2020-2021
39,West Brom,-6,12,0,0,4,0,2,-2,1,6,-5,0.0,2.0,2020-2021

In [7]:
# Categorize big six teams (based on ESL incident in 2021)
big_six_teams = ['Arsenal', 'Chelsea', 'Liverpool', 'Manchester City', 'Manchester United', 'Tottenham Hotspur']
teamstats_df['big_six'] = np.where(teamstats_df['team_name'].isin(big_six_teams), 1, 0)